.passwords-list-container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    #filter-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        .select {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            span {
                padding: 10px;

                i {
                    font-size: 1.3rem;
                }
            }

            select {
                cursor: pointer;
                height: 100%;
                padding: 10px;
                border: 0;

                &:focus {
                    outline: none;
                }
            }
        }

        nav {
            width: 50%;
            display: flex;
            padding: 10px;

            #search-bar {
                padding: 5px;
                width: 95%;
                border: 0;
                border-radius: 8px;
        
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            span {
                display: block;
                padding: 10px;
                background-color: black;
                color: white;

                i {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .passwords-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        #password-card {
            padding: 20px;
            text-decoration: none;
            color: black;
            transition: background-color, box-shadow .3s linear;

            &:hover {
                background-color: lightgrey;
                box-shadow: 6px 6px black;
            }

            .password-info {
                display: flex;
                justify-content: space-between;
            }

            .tag {
                height: 30px;
                aspect-ratio: 1;
                border-radius: 8px;
            } 
        }
    }
}