@import "~bootstrap/scss/bootstrap";
@import './welcome.scss';
@import './admin/dashboard.scss';
@import './admin/passwords/index.scss';

.border {
    border: 1px solid black;
    border-radius: 8px;
}

.d-none {
    display: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;

    &:active {
        background-color: black;
        transform: scale(1.5);
        box-shadow: none;
    }
}

.ms-button {
    &:hover {
        background-color: black;
        color: white;
    }
}

