.container-welcome {
    padding: 20px;
    display: flex;flex-direction: column;
    align-items: center;
    height: 90vh;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        gap: 30px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 200px;
            width: calc(100% / 3 - 30px);
            padding: 15px;
            transition: transform .3s linear;

            &:hover {
                transform: scale(1.2);
                box-shadow: 6px 6px lightgrey;
            }

            i {
                font-size: 3rem;
            }
        }
    }
}